<article ng-controller="CollectionCtrl">
	<h1>{{collection.attributes.title}}</h1>
	<input type="text" ng-model="newUrl">
	<button ng-click="addItem(newUrl)">Add Link</button>
	<button ng-show="userCanAccess(collection) && editMode == false" ng-click="toggleEditMode()">Edit</button>
	<section ng-repeat="item in collection.items">
		<img ng-if="item.attributes.image_source != null" src="{{item.attributes.image_source}}">
		<h2 contenteditable="{{editMode}}" ng-model="item.attributes.title" ng-change="updateItem(item)"></h2>
		<a href="{{item.attributes.url}}" contenteditable="{{editMode}}" ng-model="item.attributes.url" ng-change="updateItem(item)"></a>
		<p contenteditable="{{editMode}}" ng-model="item.attributes.description" ng-change="updateItem(item)"></p>
		<button ng-click="deleteItem(item)">Delete</button>
	</section>
</article>
